{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        {% if post.published_date %}
            <div class="date">
                <p>Дата публикации: {{ post.published_date }}</p>
                <p>Автор поста: {{ post.author }}</p>
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr}}</p>
        <hr>
    </div>
    <h3>Комментарии</h3>
    <br>
    <div class="card-footer">
        <div id="comments-list-post-{{ post.id }}">
                {% for comment in comments %}
                    <p>{{ comment.date }}</p>
                    <b><p>{{ comment.author }}</p></b>
                    <p>{{ comment.text }}</p>
                    <br>
                {% endfor %}
        <div class="comment-form">
            <div style="display: flex; margin-top: 20px;">
                <input class="form-control form-control-sm comment-input"
                    placeholder="Оставить комментарий"  data-post-id="{{ post.id }}">
                <input class="form-control btn btn-outline-success btn-sm" type="submit" value="Добавить" style='background-color: aquamarine;'>
            </div>
        </div>
    </div>
{% endblock %}